<div class="container about">
    <div class="row tc mt30">
        <div class="col-xs-12">
            <div class="row nm sections pt40">
                <a href="#">
                    <div class="col-xs-3">
                        <img src="images/question_mark.png" class="mb10" height="20"/><br>
                        Dúvidas?<br>
                        <strong>Consulte a ajuda online</strong>
                    </div>
                </a>
                <a href="#">
                    <div class="col-xs-3">
                        <img src="images/talk.png" class="mb10" height="20"/><br>
                        Faça a sua reclamação<br>
                        <strong>elogio ou sugestão</strong>
                    </div>
                </a>
                <a href="#">
                    <div class="col-xs-3">
                        <img src="images/house.png" class="mb10" height="20"/><br>
                        Conheça<br>
                        <strong>as Entidades</strong>
                    </div>
                </a>
                <a href="#">
                    <div class="col-xs-3">
                        <img src="images/cartao_cidadao.png" class="mb10" height="20"/><br>
                        Saiba mais sobre<br>
                        <strong>autenticação eletrónica</strong>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
