
<div class="col-xs-12 tl mensagem-success">
    <span class="img-sucesso-cc"></span>
    <h3>Foi submetido com sucesso,</h3>
    <h3>o seu pedido de alteração de morada.</h3>
    <p class="mt30">
        No prazo máximo de 5 dias irá receber uma carta para a nova morada. Esta carta contém um código que deverá introduzir na apliação Cartão do Cidadão, de forma a efetivar a alteração.
        <br><br>
        As outras entidades serão avisadas da sua alteração.<br>
        Pode acompanhar estes e outros processos na sua área pessoal.
    </p>
    <br><br>
    <div class="tr">
        <a href="/e360-2.html" class="btn btn-primary backToBegin">Regressar ao meu perfil</a>
    </div>
    
</div>