<div class="container-fluid mt30">
    <div class="container">
        <div class="row autenticacao eh">
            <div class="col-xs-8 gov">
                <div class="inner"><p>O <a href="#" class="underline" title="Autenticação.Gov.pt">Autenticação.Gov.pt</a> é um serviço de autenticação segura que permite ao cidadão confirmar a sua identidade  para acesso a serviços  <em>públicos online</em>.</p>
                    <p>O <a href="#" class="underline" title="Autenticação.Gov.pt">Autenticação.Gov.pt</a> permite que um cidadão aceda e se autentique em portais e sítios da Internet de diferentes entidades públicas - por exmpo o <strong><a href="#" title="Portal do Cidadão">Portal do Cidadão</a></strong>.</p>
                </div>
            </div>
            <div class="col-xs-4 entidades-publicas">
                <div class="inner">
                <p>Para aceder á informação sobre todos  os organismos da administração pública pode consultar o <strong><a href="#" title="Sistema de Informação da Organização do Estado">Sistema de Informação da Organização do Estado</a></strong>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
