<a href="#" class="chatbot-trigger chatClosed" id="chatbot-trigger"><i class="fa chatIcon" aria-hidden="true"></i></a>

<div class="chatbot" id="chatbot" style="z-index: 99999">
    <div class="row nm">
        <div class="col-xs-12 chat">
            <div class="chat-wrapper">
                <div class="message-block">
                </div>
                <div class="message-waiting" style="display: none">
                    <p class="message out">
                        <span class="jumping-dots">
                            <span class="fa fa-circle dot-1" aria-hidden="true"></span>
                            <span class="fa fa-circle dot-2" aria-hidden="true"></span>
                            <span class="fa fa-circle dot-3" aria-hidden="true"></span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 input-wrapper np">
            <input type="text" class="form-control" placeholder="Escreva a sua mensagem" id="chatbot-input">
            <a href="#" class="send" id="chatbot-send">Enviar</a>
        </div>
    </div>
</div>