<div class="choose-alteracao mb30">
		<div class="row choose-zone">
			<div class="col-xs-6">
				<div class="row mr5">
					<div class="col-xs-12 caixa">
						<div class="pt20 pb20 pl20 pr20">
							<div class="row mb10">
								<div class="col-xs-8">
									<input id="minha-morada" type="radio" class="radio-choose-morada" name="radio-choose-morada" value="1" checked>
									<label for="minha-morada">Alteração da Minha Morada</label>
								</div>
								<div class="col-xs-4 tr">
									<strong>autenticado</strong><br/>
									<span>Camila Tomás</span>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 pl40">
									<p>
									Altere cbskasfdasdasdsad asd asd asd sad asd sd asdasdas das d asd asd as das das
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="row ml5">
					<div class="col-xs-12 caixa">
						<div class="pt20 pb20 pl20 pr20">
							<div class="row mb10">
								<div class="col-xs-8">
									<input id="outra-morada" type="radio" class="radio-choose-morada" name="radio-choose-morada" value="2">

									<label for="outra-morada">Alteração da morada por terceiros</label>
								</div>
								<div class="col-xs-4 tr">
									<strong>requer autenticação</strong>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 pl40">
									<p>
									Altere cbskasfdasdasdsad asd asd asd sad asd sd asdasdas das d asd asd as das das
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
