
@@if (!show){
<div class="row search-filters search-results--filters" id="search-results-filters" style="display: none">
    <div class="col-xs-3">
        <a href="#" class="search-filter">Apresentar todos os resultados</a>
    </div>
    <div class="col-xs-9">
        <div class="row nm">
            <div class="col-xs-1 nsp pt20">
                <strong class="color-grey-2 pull-right">Filtar por:</strong>
            </div>
            <div class="col-xs-11 np">
                <a href="#" class="search-filter pull-right">Artigos <span class="counter label label-primary">614</span></a>
                <a href="#" class="search-filter pull-right">Entidades <span class="counter label label-success">1.149</span></a>
                <a href="#" class="search-filter pull-right">Serviços <span class="counter label label-danger">1.802</span></a>
                <a href="#" class="search-filter pull-right">Simuladores <span class="counter label label-primary">23</span></a>
            </div>
        </div>
    </div>
</div>
}     

@@if (show){
<div class="row search-filters search-results--filters" id="search-results-filters">
    <div class="col-xs-3">
        <a href="#" class="search-filter">Apresentar todos os resultados</a>
    </div>
    <div class="col-xs-9">
        <div class="row nm">
            <div class="col-xs-1 nsp pt20">
                <strong class="color-grey-2 pull-right">Filtar por:</strong>
            </div>
            <div class="col-xs-11 np">
                <a href="#" class="search-filter pull-right">Artigos <span class="counter label label-primary">614</span></a>
                <a href="#" class="search-filter pull-right">Entidades <span class="counter label label-success">1.149</span></a>
                <a href="#" class="search-filter pull-right">Serviços <span class="counter label label-danger">1.802</span></a>
                <a href="#" class="search-filter pull-right">Simuladores <span class="counter label label-primary">23</span></a>
            </div>
        </div>
    </div>
</div>  
}   