    <div class="container-fluid np" id="footer">
        <div class="container-fluid wrapper">
            <div class="container">
                <div class="row mt30">
                    <div class="col-xs-2 langs-select">
                        <select class="select2 form-control">
                            <option class="pt" value="pt">Português</option>
                            <option value="en">English</option>
                            <option value="es">Spanish</option>
                        </select>
                    </div>
                </div>
                <div class="row mt30 mb30">
                    <div class="col-xs-6">
                        <a href="#" class="secondary mr15" title="Mapa do Cidadão">Mapa do Cidadão</a>
                        <a href="#" class="secondary mr15" title="Links de Apoio">Links de Apoio</a>
                        <a href="#" class="secondary mr15" title="Avisos Legais">Avisos Legais</a>
                        <a href="#" class="secondary mr15" title="Política de Privacidade">Política de Privacidade</a>
                    </div>
                    <div class="col-xs-6 text-right">
                        &copy; 2017 AMA - Agência para a Modernização Administrativa, I.P.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script charset="utf-8" src="js/bundle.js"></script>
    </body>
</html>
