<div class="containe-fluid news bg-grey pt50 pb50">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <span class="label label-warning fat uc color-grey-1">Notícias</span>
                <h5 class="mt20 uc color-grey-2"><strong>A decorrer</strong></h5>
            </div>
            <div class="col-xs-offset-6 col-xs-3 color-grey-2">
                <img src="images/here.png" height="16" class="mr5"/>Baseado na sua localização actual<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Mantenha a sua <a href="#" class="underline" title="morada actualizada">morada actualizada</a>.
            </div>
        </div>
        <div class="row mt10">
            <div class="col-xs-12">
                <h2 class="nm">Sabia que o <strong>Orçamento Participativo de Portugal</strong><br>tem 2 propostas em Odivelas?</h2>
            </div>
            <div class="col-xs-12 mt20">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tortor metus, euismod aliquet ultricies id, vestibulum at quam. Aliquam blandit, orci in molestie accumsan, urna elit vehicula tellus, a efficitur leo sem eget dolor. Suspendisse potenti. Morbi lobortis sit amet magna ut iaculis. Morbi gravida metus ex, quis vulputate justo accumsan vel. Quisque erat diam, congue quis ante sed, tristique consectetur tortor. Sed congue felis ac neque lacinia accumsan. Nullam at convallis augue. Vivamus fringilla odio nunc, ut fringilla tortor cursus non. Curabitur porttitor eros sed nisl vestibulum pharetra. Sed id euismod dui.
                </p>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-xs-3">
                <a class="btn btn-primary btn-rounded uc" title="Rever">Rever Propostas</a>
            </div>
        </div>
    </div>
</div>
