<div class="row search-results--list mt10" style="display: none">
    <div class="col-xs-12">
        <div class="row main-questions">
            <div class="col-xs-12">
                <h3 class="mt10"><strong>Principais Serviços</strong></h3>
            </div>
            <!-- HABITACAO-->
            	<!-- apoios-->
            	<!-- arrendar-casa -->
            <div class="col-xs-12 search-result habitacao arrendar-casa">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Quais são os angariadores imobiliários?</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result habitacao arrendar-casa">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Como posso candidatar-me ao programa de arrendamento Porta 65 Jovem?</strong></h4></a>
            </div>
            		<!-- en-eletrica -->
            <div class="col-xs-12 search-result habitacao arrendar-casa en-eletrica">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Como posso efetuar um contrato de fornecimento de energia elétrica?</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result habitacao arrendar-casa en-eletrica">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Em que lojas do cidadão a Galp On presta serviços?</strong></h4></a>
            </div>
            		<!-- agua -->
            	<!-- vender-casa -->
            		<!-- tele-->
            <!-- SEGURNACA SOCIAL-->
            	<!-- seg-social-->
            		<!-- atend-->
            <div class="col-xs-12 search-result seg-social-main seg-social atend">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Atendimento geral da Segurança Social no EC</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result seg-social atend">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Onde é que me posso dirigir para receber informação presencial?</strong></h4></a>
            </div>
            	<!-- familia-->
            		<!-- criancas-->
            <div class="col-xs-12 search-result seg-social-main familia criancas">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Tenho direito ao abono de família para crianças e jovens?</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result criancas">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Tenho direito ao abono de família para crianças e jovens com deficiência?</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result criancas">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Tenho direito a abono de família pré-natal?</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result criancas">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Tenho direito à Bolsa de Estudo?</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result criancas">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>O que é o Fundo de Garantia de Alimentos Devidos a Menores?</strong></h4></a>
            </div>
            		<!-- adopcao-->
            <div class="col-xs-12 search-result seg-social-main familia adopcao">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Como posso adoptar?</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result adopcao">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Tenho direito ao subsídio por adopção?</strong></h4></a>
            </div>
            		<!-- maternidade-->
            <div class="col-xs-12 search-result seg-social-main familia maternidade">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>O que fazer para obter o subsídio por risco clínico durante a gravidez?</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result familia maternidade">
                <a href="./detalhe.html" class="search-result--link detalhe-pagina"><h4 class="search-result--title"><strong>Saiba se tem direito ao Subsídio por risco clínico durante a gravidez. Simule já!</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result maternidade">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Quem pode pedir o abono de família pré-natal?</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result maternidade">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Tenho direito a abono de família pré-natal?</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result maternidade">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>O que é o subsídio social por risco clínico durante a gravidez?</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result maternidade">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>O que fazer para obter o subsídio por risco clínico durante a gravidez?</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result maternidade">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Que documentos se devem apresentar para obter o subsídio por risco clínico durante a gravidez?</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result maternidade">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>O que é o subsídio por interrupção da gravidez?</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result maternidade">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>O que é o subsídio Social por interrupção da gravidez?</strong></h4></a>
            </div>
            	<!-- emprego-->
            		<!-- conta-->
            <div class="col-xs-12 search-result seg-social-main emprego conta">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>O que são trabalhadores por conta de outrem?</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result emprego conta">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Quais os direitos e deveres dos trabalhadores por conta de outrem?</strong></h4></a>
            </div>
            	<!-- reforma-->
            <div class="col-xs-12 search-result reforma">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>O que é a pensão por Velhice?</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result reforma">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>O que é a pensão social por Velhice?</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result reforma">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Saiba se tem direito a pensão social por Velhice. Simule já!</strong></h4></a>
            </div>
            <div class="col-xs-12 search-result reforma">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Como renovar o Cartão Europeu de Seguro de Doença da Segurança Social?</strong></h4></a>
            </div>
            	<!-- atendimento-->
            <!-- SAUDE-->
            <div class="col-xs-12 search-result saude">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Como renovar o Cartão Europeu de Seguro de Doença da Segurança Social?</strong></h4></a>
            </div>
            <!-- TRANSPORTES-->
            	<!-- viatura-->
            <div class="col-xs-12 search-result transportes viatura">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Quero renovar a carta de condução?</strong></h4></a>
            </div>
            		<!-- abater-->
            <div class="col-xs-12 search-result transportes viatura abater">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Quero cancelar a matrícula?</strong></h4></a>
            </div>
            	<!-- trans-publicos-->
            		<!-- atend-->
            <div class="col-xs-12 search-result transportes trans-publicos atend">
                <a href="#" class="search-result--link"><h4 class="search-result--title"><strong>Como posso contatar a Via Verde?</strong></h4></a>
            </div>
        </div>

            <!-- OUTROS RESULTADOS -->

        <div class="row other-results mt30">
            <div class="col-xs-12">
                <h3 class="mt50"><strong>Outros Resultados</strong></h3>
            </div>
            <div class="col-xs-12 search-result seg-social-main seg-social">
                <a href="#" class="search-result--link"><h4 class="search-result--title">Qual é o subsídio Social por <span class="search-result--match">risco</span> clinico durante a <span class="search-result--match">gravidez</span>?</h4></a>
                <label class="label label-primary">Artigos</label>
                <p class="search-result--content">Informações e possibilidades de realizar online o pedido de subsídio social por risco clínico durante a gravidez.</p>
            </div>
            <div class="col-xs-12 search-result seg-social-main seg-social">
                <a href="#" class="search-result--link"><h4 class="search-result--title">Como sei se tenho direito ao subsídio de risco clinico durante a gravidez?</h4></a>
                <label class="label label-danger">Serviços</label>
                <label class="label label-danger litle-opacity">Simulador</label>
                <p class="search-result--content">Informações e possibilidade de realizar online o pedido de subsidio por interrupção da gravidez.</p>
            </div>
            <div class="col-xs-12 search-result seg-social-main seg-social">
                <a href="#" class="search-result--link"><h4 class="search-result--title">Apoio Social - Centro de apoio à vida</h4></a>
                <label class="label label-success">Entidades</label>
                <p class="search-result--content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum lacinia erat ut mollis. </p>
            </div>
            <div class="col-xs-12 search-result seg-social-main seg-social">
                <a href="#" class="search-result--link"><h4 class="search-result--title">Direção Geral de Segurança Social</h4></a>
                <label class="label label-success">Entidades</label>
                <p class="search-result--content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum lacinia erat ut mollis. Nunc venenatis, lorem eget dictum porttitor, lorem sapien tincidunt dui, vitae bibendum est nisi et lectus.</p>
            </div>
        </div>
    </div>
</div>
