<div class="container">
    <div class="row labels-container mt30">
        <div class="col-xs-12 mb15">
            <h2>Serviços Públicos mais Populares</h2>
        </div>
        <div class="col-xs-12">
            <span class="label label-default label-with-children">Cartão de Cidadão - Alteração de Morada<span class="label label-danger">MAIS POPULAR</span></span>
            <span class="label label-default">Cartão de Cidadão - Agendamento</span>
            <span class="label label-default">Consulta de Ceridão de Registo Civil</span>
            <span class="label label-default">Loja e Espaços de Cidadão - Mapa de Localizações</span>
            <span class="label label-default">Consulta Médica no Centro de Saúde - Marcação</span>
            <span class="label label-default">Despesas de Saúde da ADSE - Reembolso</span>
            <span class="label label-default">Conta corrente da ADSE - Consulta</span>
            <span class="label label-default">Registo Comercial - Consulta da Certidão Permanente</span>
        </div>
    </div>
</div>
