<div class="container-fluid mt60 mb80">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 slider-noticias-container">
                <div class="owl-carousel slider-noticias" id="noticias-slider">
                    <div class="item tc">
                        <a href="#" class="link"><i class="fa fa-window-maximize" aria-hidden="true"></i></a>
                        <div class="image" style="background-image:url(images/loja-cidadao.jpg)"></div>
                        <p class="content">O Balcão do Empreendedor passou a disponibilizar, desde dia 24 de fevereiro de 2017, um novo serviço online referente ao licenciamento da atividade de Mediação Imobiliária.</p>
                        <a href="#" class="btn btn-primary btn-rounded"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="item tc">
                        <a href="#" class="link"><i class="fa fa-window-maximize" aria-hidden="true"></i></a>
                        <div class="image" style="background-image:url(images/loja-cidadao.jpg)"></div>
                        <p class="content">Segurança Social define datas para pagamento de pensões e subsídios sociais de Março.</p>
                        <a href="#" class="btn btn-primary btn-rounded"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="item tc">
                        <a href="#" class="link"><i class="fa fa-window-maximize" aria-hidden="true"></i></a>
                        <div class="image" style="background-image:url(images/loja-cidadao.jpg)"></div>
                        <p class="content">Agora já pode consultar a sua Posição Atual perante a Segurança Social e verificar os valores que tem a pagar e/ou receber.</p>
                        <a href="#" class="btn btn-primary btn-rounded"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="item tc">
                        <a href="#" class="link"><i class="fa fa-window-maximize" aria-hidden="true"></i></a>
                        <div class="image" style="background-image:url(images/loja-cidadao.jpg)"></div>
                        <p class="content">O Balcão do Empreendedor passou a disponibilizar, desde dia 24 de fevereiro de 2017, um novo serviço online referente ao licenciamento da atividade de Mediação Imobiliária.</p>
                        <a href="#" class="btn btn-primary btn-rounded"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="item tc">
                        <a href="#" class="link"><i class="fa fa-window-maximize" aria-hidden="true"></i></a>
                        <div class="image" style="background-image:url(images/loja-cidadao.jpg)"></div>
                        <p class="content">Segurança Social define datas para pagamento de pensões e subsídios sociais de Março.</p>
                        <a href="#" class="btn btn-primary btn-rounded"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="item tc">
                        <a href="#" class="link"><i class="fa fa-window-maximize" aria-hidden="true"></i></a>
                        <div class="image" style="background-image:url(images/loja-cidadao.jpg)"></div>
                        <p class="content">Agora já pode consultar a sua Posição Atual perante a Segurança Social e verificar os valores que tem a pagar e/ou receber.</p>
                        <a href="#" class="btn btn-primary btn-rounded"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="item tc">
                        <a href="#" class="link"><i class="fa fa-window-maximize" aria-hidden="true"></i></a>
                        <div class="image" style="background-image:url(images/loja-cidadao.jpg)"></div>
                        <p class="content">O Balcão do Empreendedor passou a disponibilizar, desde dia 24 de fevereiro de 2017, um novo serviço online referente ao licenciamento da atividade de Mediação Imobiliária.</p>
                        <a href="#" class="btn btn-primary btn-rounded"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="item tc">
                        <a href="#" class="link"><i class="fa fa-window-maximize" aria-hidden="true"></i></a>
                        <div class="image" style="background-image:url(images/loja-cidadao.jpg)"></div>
                        <p class="content">Segurança Social define datas para pagamento de pensões e subsídios sociais de Março.</p>
                        <a href="#" class="btn btn-primary btn-rounded"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="item tc">
                        <a href="#" class="link"><i class="fa fa-window-maximize" aria-hidden="true"></i></a>
                        <div class="image" style="background-image:url(images/loja-cidadao.jpg)"></div>
                        <p class="content">Agora já pode consultar a sua Posição Atual perante a Segurança Social e verificar os valores que tem a pagar e/ou receber.</p>
                        <a href="#" class="btn btn-primary btn-rounded"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="item tc">
                        <a href="#" class="link"><i class="fa fa-window-maximize" aria-hidden="true"></i></a>
                        <div class="image" style="background-image:url(images/loja-cidadao.jpg)"></div>
                        <p class="content">O Balcão do Empreendedor passou a disponibilizar, desde dia 24 de fevereiro de 2017, um novo serviço online referente ao licenciamento da atividade de Mediação Imobiliária.</p>
                        <a href="#" class="btn btn-primary btn-rounded"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="item tc">
                        <a href="#" class="link"><i class="fa fa-window-maximize" aria-hidden="true"></i></a>
                        <div class="image" style="background-image:url(images/loja-cidadao.jpg)"></div>
                        <p class="content">Segurança Social define datas para pagamento de pensões e subsídios sociais de Março.</p>
                        <a href="#" class="btn btn-primary btn-rounded"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="item tc">
                        <a href="#" class="link"><i class="fa fa-window-maximize" aria-hidden="true"></i></a>
                        <div class="image" style="background-image:url(images/loja-cidadao.jpg)"></div>
                        <p class="content">Agora já pode consultar a sua Posição Atual perante a Segurança Social e verificar os valores que tem a pagar e/ou receber.</p>
                        <a href="#" class="btn btn-primary btn-rounded"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
