@@include('header.html')
        @@include('header-nav.html',{"logged":true,"isResults":false})
        <div class="wrapper">
            <div class="container">
                <div class="row breadcrumb-container">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Ínicio</a></li>
                            <li><a href="#">Habitação</a></li>
                            <li class="active">Alteração de Morada</li>
                        </ol>
                    </div>
                </div>
                <div class="row alteracao-morada" id="alteracao-morada-header">
                    <div class="col-xs-12 mb15">
                        <h2>Alteração de Morada</h2>
                    </div>
                    <div class="col-xs-12 mb30">
                        <div class="progress stepper alteracao-morada--stepper step1" id="alteracao-morada-controls">
                            <div class="progress-bar current"></div>
                            <div class="progress-bar completed progress-bar-success"></div>
                            <div class="progress-label">
                                <label for="Confirmação dados do cidadão"><strong>1º Passo</strong><br>Confirmação dados do cidadão</label>
                                <label for="Confirmação dados do cidadão"><strong>2º Passo</strong><br>Introdução da nova morada</label>
                                <label for="Confirmação dados do cidadão"><strong>3º Passo</strong><br>Submeter aprovação da nova morada</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 mb30 alteracao-morada--steps" id="alteracao-morada" data-controls="#alteracao-morada-controls">
                        <div class="row alteracao-morada--step step active step1">
                            <div class="col-xs-12 mb30">
                                @@include('chooseAlteracao.html')
                                <div class="row mt10">
                                    <div class="col-xs-12 mb10">
                                        <div class="validar-utilizador">
                                            <h3 class="fl">Confirmação dos dados de cidadão</h3>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <label for="">Nº de Identificação Civil</label>
                                            <div class="row mt10">
                                                <div class="col-xs-11">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="">4 caracteres de controlo</label>
                                            <div class="row mt10">
                                                <div class="col-xs-4">
                                                    <input id="inputCod4" type="text" class="form-control xs" name="some_name" value="" maxlength="4">
                                                </div>
                                                <div class="col-xs-8">
                                                    <a id="validar4c" class="btn btn-primary btn-rounded " title="Validar">Validar</a>
                                                    <span class="success successButton"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                    </div>
                                    <div class="col-xs-3 code4Validated">
                                        <div class="form-group">
                                            <strong>Esta alteração irá afetar:</strong>
                                            <ul>
                                                <li>
                                                    <span class="success successButton"></span>
                                                    <label>Cartão do Cidadão</label>
                                                </li>
                                                <li>
                                                    <span class="addBtn"></span>
                                                    <label>Adicionar Outra</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 text-right">
                                <a href="#" class="btn btn-primary next code4Validated">Avançar</a>
                            </div>
                        </div>
                        <div class="row alteracao-morada--step step step2" style="display: none">
                            <div class="col-xs-12">
                                <div class="row caixa-morada mb30">
                                    <div class="col-xs-5 pt30 pb30">
                                        <h4>Morada atualmente registada</h4>
                                        <p>
                                            Rua do Sol do Rato Nº 23, 3º Dto <br>
                                            1250-261 <br>
                                            Lisboa
                                        </p>
                                    </div>
                                    <div class="col-xs-7 np">
                                        <div data-lat="38.719932", data-lng="-9.158152" class="map h200 wide pull-left"></div>
                                    </div>
                                </div>
                                <div class="row mt10">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 mb10">
                                                <div class="validar-utilizador">
                                                    <h3 class="fl">Introdução da nova morada</h3>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label for="">Código Postal</label>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <input id="morada4" onkeyup="validateComplete(4,'morada4','morada3')" type="text" class="form-control codPostal codPostal4" maxlength="4">
                                                            <strong class="codPostal">-</strong>
                                                            <input id="morada3" type="text" class="form-control codPostal codPostal3" maxlength="3">
                                                        </div>
                                                        <div class="col-xs-7">
                                                            <a id="pesquisarMorada" class="btn btn-primary btn-rounded" title="Pesquisar" onclick="pesquisarMorada()">Pesquisar</a>
                                                            <a class="btn btn-default btn-rounded" title="Inserir Manualmente" onclick="handEdit()">Inserir Manualmente</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group disabled">
                                                            <label>Endereço</label>
                                                            <input id="adress" type="text" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row input-selects">
                                                    <div class="col-xs-2">
                                                        <div class="form-group">
                                                            <label>Nº Porta</label>
                                                            <input type="number" min="0" class="form-control form-need-to-write">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <div class="form-group">
                                                            <label>Andar</label>
                                                            <input type="text" class="form-control form-need-to-write">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <div class="form-group">
                                                            <label>Lado</label>
                                                            <input type="text" class="form-control form-need-to-write">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="form-group disabled">
                                                            <label>Distrito</label>
                                                            <select id="selectDistrito" class="form-control select2" disabled>
                                                                <option>Selecionar</option>
                                                                <option>Lisboa</option>
                                                                <option>Coimbra</option>
                                                                <option>Leiria</option>
                                                                <option>Braga</option>
                                                                <option>Guimarães</option>
                                                                <option>Postalegre</option>
                                                                <option>Faro</option>
                                                                <option>Viana do Castelo</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group disabled">
                                                            <label>Concelho</label>
                                                            <select id="selectConcelho" class="form-control select2" disabled>
                                                                <option>Selecionar</option>
                                                                <option>Lisboa</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group disabled">
                                                            <label>Freguesia</label>
                                                            <select id="selectFreguesia" class="form-control select2" disabled>
                                                                <option>Selecionar</option>
                                                                <option>Rato</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                 <div id="novaMorada" class="row caixa-morada mt30">
                                                    <div class="col-xs-12 np">
                                                        <div class="map h300 wide pull-left"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 tr mt30">
                                <a href="#" class="btn btn-default back mr15">Alterar Dados</a>
                                <a href="#" class="btn btn-primary next go-to-3">Avançar</a>
                            </div>
                        </div>
                        <div class="row alteracao-morada--step step step3" style="display: none">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="col-xs-12 mb10">
                                            <h3 class="fl">Submeter Aprovação de Nova Morada Própria</h3>
                                        </div>
                                        <div class="col-xs-12">
                                            <h4><strong>Nova Morada Própria</strong></h4>
                                            <p>
                                                Rua Damasceno Monteiro <br>
                                                Nº10B, 12ºDto.<br>
                                                1250-096 Rato<br>
                                                Lisboa
                                            </p>
                                        </div>
                                        <div class="col-xs-12 mt30">
                                            <strong>Camila Pessoa Araújo Tomás</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <strong>Nº de Identificação Civil</strong>
                                                <p>12345678</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <strong>Esta alteração irá afetar</strong>
                                                <div>
                                                    <span class="success successButton"></span>
                                                    <label>Cartão do Cidadão</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="row caixa-morada mt30">
                                            <div class="col-xs-12 np">
                                                <div data-lat="38.720763", data-lng="-9.145881" class="map h250 wide pull-left"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 text-right mt30">
                                <a href="#" class="btn btn-default back mr15">Voltar</a>
                                <a href="#" class="btn btn-primary next concluir-button">Concluir</a>
                            </div>
                        </div>

                        <div class="row alteracao-morada--step step step4" style="display: none">
                            @@include('alteracao-morada-sucesso.html')
                        </div>
                    </div>
                </div>
            </div>
            @@include('about.html')
        </div>
        @@include('footer.html')

        <script type="text/javascript">
        $(".search-container").remove();
  var morada1 = new Audio('./sounds/morada1.m4a');
  var morada2 = new Audio('./sounds/morada2.m4a');
  var morada3 = new Audio('./sounds/morada3.m4a');
  var morada4 = new Audio('./sounds/morada4.m4a');
  var morada6 = new Audio('./sounds/morada6.m4a');
  var morada7 = new Audio('./sounds/morada7.m4a');
  var morada8 = new Audio('./sounds/morada8.m4a');
  var morada9 = new Audio('./sounds/morada9.m4a');

  morada4.onended = function(){
    morada6.onended = function(){
        morada7.play();
    }
    morada6.play();
  }

  morada1.onended = function(){
    morada2.play();
  }
  morada1.play();
  
  function closeSoundsMorada(){
    morada1.pause();
    morada2.pause();
    morada3.pause();
    morada4.pause();
    morada6.pause();
    morada7.pause();
    morada8.pause();
  }

</script>
