@@include('header.html')
        @@include('header-nav.html',{"logged":false,"isResults":true})
        <div class="wrapper">
            <div class="container">
                <div class="row breadcrumb-container">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Ínicio</a></li>
                            <li><a href="#">Segurança Social</a></li>
                            <li class="active">Subsídios</li>
                        </ol>
                    </div>
                </div>
                <div class="row mt100">
                    <div class="col-xs-9">
                        <h2><strong>Como sei se tenho direito ao subsídio de risco clínico durante a gravidez?</strong></h2>
                    </div>
                    <div class="col-xs-12">
                        <h4 class="color-primary"><strong>Saiba se tem direito ao subsídio por risco clínico durante a gravidez.</strong></h4>
                    </div>
                </div>

                <div class="row mt10">
                    <div class="col-xs-12">
                        <a href="#" class="btn btn-primary uc">Simular</a>
                        <br>
                        <p class="mt30">
                            <h5 class="mb20"><strong>Quais as condições para ter direito:</strong></h5>
                            <ul class="list">
                                <li>Curabitur placerat felis at massa facilisis, at facilisis lorem varius. Proin efficitur eros eu sem gravida, sit amet fermentum lorem scelerisque. Aliquam eu purus finibus, suscipit tellus quis, porta est. Vestibulum ut ex et diam iaculis cursus a at dolor. Fusce lobortis finibus ante eget lacinia.</li>
                                <li>Nulla facilisi. Vivamus sed lacus egestas, facilisis elit sit amet, iaculis sem. Praesent non tincidunt libero. Sed porta congue sapien ut rutrum.</li>
                                <li>Vestibulum ut ex et diam iaculis cursus a at dolor. Fusce lobortis finibus ante eget lacinia. Curabitur sed lectus tellus. Cras auctor mi dui, sed tristique erat gravida at.</li>
                            </ul>
                        </p>
                        <hr>
                        <h3 class="mb20"><strong>Acumulação com outros benefícios</strong></h3>
                        <h5 class="text-success"><strong>O subsídio é acumulável com:</strong></h5>
                        <ul class="list">
                            <li>Curabitur placerat felis at massa facilisis, at facilisis lorem varius. Proin efficitur eros eu sem gravida, sit amet fermentum lorem scelerisque. Aliquam eu purus finibus, suscipit tellus quis, porta est. Vestibulum ut ex et diam iaculis cursus a at dolor. Fusce lobortis finibus ante eget lacinia.</li>
                            <li>Nulla facilisi. Vivamus sed lacus egestas, facilisis elit sit amet, iaculis sem. Praesent non tincidunt libero. Sed porta congue sapien ut rutrum.</li>
                            <li>Vestibulum ut ex et diam iaculis cursus a at dolor. Fusce lobortis finibus ante eget lacinia. Curabitur sed lectus tellus. Cras auctor mi dui, sed tristique erat gravida at.</li>
                        </ul>
                        <h5 class="mt20 text-danger"><strong>O subsídio não é acumulável com:</strong></h5>
                        <ul class="list">
                            <li>Curabitur placerat felis at massa facilisis, at facilisis lorem varius. Proin efficitur eros eu sem gravida, sit amet fermentum lorem scelerisque. Aliquam eu purus finibus, suscipit tellus quis, porta est. Vestibulum ut ex et diam iaculis cursus a at dolor. Fusce lobortis finibus ante eget lacinia.</li>
                            <li>Nulla facilisi. Vivamus sed lacus egestas, facilisis elit sit amet, iaculis sem. Praesent non tincidunt libero. Sed porta congue sapien ut rutrum.</li>
                            <li>Vestibulum ut ex et diam iaculis cursus a at dolor. Fusce lobortis finibus ante eget lacinia. Curabitur sed lectus tellus. Cras auctor mi dui, sed tristique erat gravida at.</li>
                        </ul>
                    </div>
                </div>

                <div class="row artigos-relacionados mb40 mt20">
                    <div class="col-xs-12">
                        <div class="row nm list-container">
                            <div class="col-xs-12">
                                <h5 class="nmt"><strong>Também pode ter interesse em:</strong></h5>
                            </div>
                            <div class="col-xs-12 list mt10">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="link-item">
                                            <a href="#">Como se efetuam os pagamentos do subsídio por risco clínico durante a gravidez?</a>
                                        </div>
                                        <div class="link-item">
                                            <a href="#">Como sei se tenho direito ao subsídio por risco clínico durante a gravidez?</a>
                                        </div>
                                        <div class="link-item">
                                            <a href="#">Quem tem direito ao subsídio por risco clínico durante a gravidez?</a>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">
                                        <div class="link-item">
                                            <a href="#">Que documentos se devem apresentar para obter o subsídio por risco clínico durante a gravidez?</a>
                                        </div>
                                        <div class="link-item">
                                            <a href="#">O que fazer para obter o subsídio por risco clínico durante a gravidez?</a>
                                        </div>
                                        <div class="link-item">
                                            <a href="#">O que é o risco durante a gravidez?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            @@include('about.html')
        </div>
@@include('footer.html')
<script type="text/javascript">

    (function(){

        $("#header .search-container").addClass("opened");
        $("#search-results-filters").hide();
        $("#portal_cidadao_img").on('click', function(event){
            window.location.href = './index.html?sound=2';
        });
    })();

    var pagprincipal = new Audio('./sounds/pagprincipal.m4a');

    pagprincipal.play();

</script>

