@@include('header.html')
        @@include('header-nav.html',{"logged":false,"isResults":false})
        @@include('pesquisa-home.html')
        <div class="wrapper">
            @@include('noticia-destaque.html')
            @@include('slider-noticias.html')
            @@include('about.html')
        </div>
@@include('chatbot.html')
@@include('footer.html')
<script type="text/javascript">
	var pesq6 = new Audio('./sounds/pesq6.m4a');
  var pesq7 = new Audio('./sounds/pesq7.m4a');
  var pesq8 = new Audio('./sounds/pesq8.m4a');
  var pagprincipal = new Audio('./sounds/pagprincipal.m4a');

  pesq8.onended = function(){
    pagprincipal.play();
  };

  pesq7.onended = function(){
    pesq8.play();
  };

  pesq6.onended = function(){
    pesq7.play();
  };

  pesq6.play();

  $(".search-bubble.seg-social-main").on("click",function(){
    pesq6.pause();
    pesq7.play();
  });

  $("#portal_cidadao_img").on('click', function(event){
            window.location.href = './index.html?sound=2';
        });

  $(".detalhe-pagina").on('click', function(event){
            window.location.href = './detalhe2.html';
        });

</script>